header .row img{
    height: 450px;
}
.col-lg-7{
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 5px;
}
h1{
    color: rgb(195, 0, 255);
}
p{
    text-align: justify;
}
.categorize img{
    width: 55px;
}
.third-content-two :hover{
    transform: scale(1.1);
    transition: transform 1s;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-media li{
    list-style: none;
    padding-left: 10px;
    font-size: 30px;
}
@media screen and (max-width: 991px) {
    .col-lg-7{
        padding-right: 30px;
    }
}
@media only screen and (min-width:992px) {
   .row .btn{
       margin-left: 130px;
   }
}